@charset "UTF-8";

html, body {
  font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
}

//禁止长按菜单
*{
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;
}
input,textarea {
  -webkit-user-select:auto; /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none;
}

$red: #FC0D1C;
$bgColor: #f2f2f2;


$pixelBase: 18.75;
// 根元素 font-size
// 在import function 之前声明
//$pixelBase: 16;   // 5s 320/20
//$pixelBase: 18.75;// 6s 375/20
//$pixelBase: 9.375;// 6s 375/20/2
//$pixelBase: 20.7;   // 6+ 414/20

html {
  font-size: #{$pixelBase}px;
}

@function parseInt($n ) {
  //  /* 去掉单位 13px -> 13 */
  @return $n / ($n * 0 + 1);
}

@function rem($values ) {
  $list: (); // 存储转变后的值

  @each $value in $values {
    // 遍历传入的值

    @if $value == auto or parseInt($value) == 0 {
      // 0 和 auto 原样返回
      $list: append($list, $value);
    } @else {
      $unit: unit($value); //取单位
      $val: parseInt($value); // 取数字值

      @if $unit == "px" {
        //转换px值
        $list: append($list, ($val / $pixelBase + rem));
      }

      @if $unit == "rem" {
        // rem值不转换
        $list: append($list, $value);
      }
    }
  }

  @return $list;// 返回值列表
}